{% extends "reports/base.html" %}
{% load i18n %}

{% block title %}Password{% endblock %}

{% block maincontent %}
    <section class="content-header">
        <h1>
            Password
            <small>change</small>
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Change Password</h3>
                    </div>
                    <div class="box-body">
                        <form method="post">{% csrf_token %}
                            <div>
                                {% if form.errors %}
                                    <p class="errornote">
                                        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                                    </p>
                                {% endif %}


                                <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

                                <fieldset class="module aligned wide">

                                    <div class="form-group">
                                        {{ form.old_password.errors }}
                                        {{ form.old_password.label_tag }} {{ form.old_password }}
                                    </div>

                                    <div class="form-group">
                                        {{ form.new_password1.errors }}
                                        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                                        {% if form.new_password1.help_text %}
                                            <div class="help">{{ form.new_password1.help_text|safe }}</div>
                                        {% endif %}
                                    </div>

                                    <div class="form-group">
                                        {{ form.new_password2.errors }}
                                        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                                        {% if form.new_password2.help_text %}
                                            <div class="help">{{ form.new_password2.help_text|safe }}</div>
                                        {% endif %}
                                    </div>

                                </fieldset>

                            </div>
                            <a href="{% url 'dashboard' %}"<button type="button" class="btn col-md-offset-2 btn-danger">Cancel</button></a>
                            <button type="submit" class="btn btn-success pull-left">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}